body {
  background-color: #F9F9F9;"
}

nav {
  background-color: #ECA869;
}
.navbar-brand {
  color: #2F5061;
  font-weight: 700;
}
.nav-link {
  font-weight: 600
}

hr {
  margin:0
}

.container {
  background-color: white;
  padding: 15px;
  height: 600px;
  border-radius: 10px;
  margin-top: 100px
}


.btn-outline-primary {
  border-color: #ECA869;
  color: #2F5061;
  font-weight: 600;
}
.btn-outline-primary:hover {
  border-color: #ECA869;
  background-color: #ECA869;
  color: #2F5061;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #4297A0;
  color: #F4EAE6;
}
.navbar-light .navbar-nav .nav-link {
  color: #2F5061;
}